extends layout 

block content 
  div(style='text-align:center')
    h1(style='margin:40px') About Us 
    h3(style='margin:40px') We just give information about genres and their games you can add your own if you want but you need to be an administrator to delete or edit an existing one.