doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar 
      div.title
        p 
          a(href='/') GameStore
      div.subnavbar 
        p 
          a(href='/') Home 
        p 
          a(href='/store/genres') Genres 
        p 
          a(href='/store/games') Games
        p 
          a(href='/aboutus') About Us
    block content
